{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Experience</h3>
                </div>
                <div class="panel-body">
                    <p>CrowdStrike - Nov 2013 to <em>present</em></p>
                    <p>Gravity - Jul 2010 to Nov 2013</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Education</h3>
                </div>
                <div class="panel-body">
                    <p>Zend - PHP5 Certified Engineer ZEND014401</p>
                    <p>Saddleback Community College - Studied Information Security, 2006</p>
                    <p>Boston University - Studied Computer Science, 1997-98</p>
                    <p>Bunker Hill Community College - Associates in Science (Medical Radiography), 1992</p>
                    <p>(Liberal Arts, Computer Science) - UMass Lowell, 1988-90</p>
                    <p>Boston Latin Academy - High School Diploma (College Prep), 1988</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Origins</h3>
                </div>
                <div class="panel-body">
                    <p>Born and raised in the city of Boston, MA and lover of all Boston sports.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}